<%= render "layouts/menu/admin" %>
<li><%= link_to "Gesti贸n Evaluadores", admin_evaluacion_path  %></li>
<li><%= link_to "Gesti贸n Camar贸grafos", admin_camarografos_path  %></li>
<li><%= link_to "Gesti贸n Sistema", admin_sistemas_path %></li>