<p id="notice"><%= notice %></p>

<p>
  <strong>Descripción:</strong>
  <%= @canal_regional.descripcion %>
</p>

<%= link_to 'Editar', edit_canal_regional_path(@canal_regional) %> |
<%= link_to 'Regresar', canal_regionales_path %>
