<%= form_for(@grupo_item) do |f| %>
  <% if @grupo_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grupo_item.errors.count, "error") %> prohibited this grupo_item from being saved:</h2>

      <ul>
      <% @grupo_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
