<!--Formulario de ingreso de contraseña y activacion de usuario -->
<div class="panel panel-primary">
  <div class="panel-heading">
   Registro
  </div>

  <div class="panel-body">
    <%= render :partial => "cuenta/camarografo", :locals => { :url_form => cuenta_activar_camarografo_email_path } %>
  </div>
</div>