<!--Formulario de ingreso de contraseña y activacion de usuario -->
<div class="panel panel-primary">
  <div class="panel-heading">
    Datos Personales
  </div>
  <div class="panel-body">
    <p>Por Favor Verifique que la Información que se Encuentra a Continuación  son Correctos. En Caso  de encontrar alguna inconsistencia comuniquese con la asistencia del sitio</p>
    <%= render :partial => "cuenta/persona", :locals => { :url_form => cuenta_activar_profesor_path } %>
  </div>
</div>