<div class="row">
  <h1>BIENVENIDO A LA PLATAFORMA DE EVALUACIÓN DE CARÁCTER DIAGNÓSTICO FORMATIVO (ECDF)</h1>
  <%= render "devise/sessions/new" %>
  <div>
    Si no tienes una cuenta activada por favor activa tu cuenta <%= link_to "aquí", cuenta_signin_path %>
  </div>
</div>
