 <!-- MODAL AYUDA PANEL LATERAL -->
<div id="videotutorial" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h3 class="panel-title">Vídeo Ayuda</h3>
      </div>
      <div class="modal-body">
      <div class="embed-container">
      	<% if defined?(current_persona.id) %>	
	      <%=  cosulta_tutorial(current_persona.id, controller_name, action_name)    %> 
	    <% end %>
      </div> 
      </div>
     <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>  
</div>