// Place all the styles related to the Notificaciones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notificaciones{
  text-align: left;

  
}
.textNoti{
  text-align: left;
  margin-top: -28px;
  margin-left: 45px;
  font-size: 16px;
  font-weight: 400;
}

.informacion{
  text-align: left;
  margin-right:9px;

  
}
