// Place all the styles related to the preguntas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.titulos{

    width: 400px;
    height: 80px;
    background-color:#87CEEB ;

 UL.col3 
{ 
  PADDING-RIGHT: 0px; 
  PADDING-LEFT: 0px; 
  FLOAT: left; 
  PADDING-BOTTOM: 0px; 
  MARGIN: 15px 0px; 
  WIDTH: 100%; 
  PADDING-TOP: 0px; 
  LIST-STYLE-TYPE: none 
} 

UL.col3 LI 
{ 
  PADDING-RIGHT: 2px; 
  DISPLAY: inline; 
  PADDING-LEFT: 2px; 
  FLOAT: left; 
  PADDING-BOTTOM: 2px; 
  WIDTH: 30%; 
  PADDING-TOP: 2px 
}  
    
}
