<!--Formulario de ingreso de contraseña y activacion de usuario -->
<div class="panel panel-primary">
  <div class="panel-heading">Formato de planeación</div>
  <div class="panel-body">
    <%= render "profesor/formulario_planeacion_evidencias"%>
  </div>
</div>
