<div id="proceso_evaluadores" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Evaluadores del proceso</h4>
      </div>
      
      <div class="modal-body">
      <div class="tabla_total">
        <table>
              <tr>
		          <th colspan=2>
		           Evaluador Uno
		          </th>
		         </tr> 
	          <tr>
		          <th>
		           Tipo Documento
		          </th>
		          <th>
		          Cédula de ciudadanía
		          </th>
		        </tr>
		        <tr>  
		          <th>
		           Número docuemnto 
		          </th>
		           <th>
		           809876542
		          </th>
		        </tr> 
		        <tr> 
		          <th>
		          Nombres
		          </th>
		           <th>
		           Juan Camilo
		          </th>
		        </tr> 
		        <tr> 
		           <th>
		           Apellidos
		           </th>
		           <th>
		           Perez
		           </th>
		        </tr> 
		         <tr> 
		           <th>
		           Email
		          </th>
		           <th>
		           juan@gmail.com
		          </th>
		        </tr> 
		         <tr> 
		           <th>
		          Teléfono
		          </th>
		           <th>
		           6107867
		          </th>
		        </tr> 
		        
		         <tr> 
		           <th>
		          Celular
		          </th>
		           <th>
		           31089765
		          </th>
		        </tr> 
		        
		         <tr> 
		           <th>
		          Localizador
		          </th>
		           <th>
		           Amazonas-Leticia
		          </th>
		        </tr> 
		              
		              
		                          
	      </table>
 
	       <table>
              <tr>
		          <th colspan=2>
		           Evaluador Dos
		          </th>
		         </tr> 
	          <tr>
		          <th>
		           Tipo Documento
		          </th>
		          <th>
		          Cédula de ciudadanía
		          </th>
		        </tr>
		        <tr>  
		          <th>
		           Número docuemnto 
		          </th>
		           <th>
		           67896655
		          </th>
		        </tr> 
		        <tr> 
		          <th>
		          Nombres
		          </th>
		           <th>
		           Diego Alexander
		          </th>
		        </tr> 
		        <tr> 
		           <th>
		           Apellidos
		           </th>
		           <th>
		           Peralta
		           </th>
		        </tr> 
		         <tr> 
		           <th>
		           Email
		          </th>
		           <th>
		           Diego@gmail.com
		          </th>
		        </tr> 
		         <tr> 
		           <th>
		          Teléfono
		          </th>
		           <th>
		           8902345
		          </th>
		        </tr> 
		        
		         <tr> 
		           <th>
		          Celular
		          </th>
		           <th>
		           320657890
		          </th>
		        </tr> 
		        
		         <tr> 
		           <th>
		          Localizador
		          </th>
		           <th>
		           Valle-Cauca-Cali
		          </th>
		        </tr> 
		              
		              
		                          
	      </table>
   
        </div>
        
              
      
		</div>
		<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>  
</div>