<tr>
<td><%= evaluador_data.persona.documento %></td>

<td><%= evaluador_data.evaluaciones.count %></td>

<td><%= evaluador_data.evaluaciones_terminadas %></td>

<td><%= evaluador_data.evaluaciones_en_proceso %></td>
</tr>
