<h2>Bienvenido al Sistema de Evaluaci贸n Docente:</h2>

<p><%= @persona.nombre_completo %>:</p>

<p>Nos es grato que hemos acabado de confirmar su inscripci贸n en la plataforma de evaluaci贸n docente.</p>

<p>Puede ingresar, usando sus datos de identidad.</p>

--
Plataforma de Evaluaci贸n Colombia
