<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @secciones_educativa.descripcion %>
</p>

<%= link_to 'Edit', edit_secciones_educativa_path(@secciones_educativa) %> |
<%= link_to 'Back', secciones_educativas_path %>
