<div id="reporte_trabajo_asignado_camarografo" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="width: 920px;">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Trabajo asignado a camarógrafo</h4>
      </div>
      
      <div class="modal-body">
			<div class="row">
				<div id="filtro">
				  <div class="field">
				      <label for="sel1" class="control-label">Selecione filtro de búsqueda</label>			
				      
				     <select class="form-control" name="video_estado" id="video_estado">
						<option value="">Selecione</option>
						<option value="con_video">Con Vídeo</option>
						<option value="sin_video">Sin Vídeo</option>
						
					</select>
				  </div>
				</div>	 
				
			 <div class="col-md-6" id="struct">
			      
					<table cellspacing="0" cellpadding="0" class="table" id="table">
					<thead>	
						<tr>
							<th>id</th>
							<th>Tipo documento</th>
							<th>Numero documento</th>
							<th>Nombres</th>
							<th>Apellido Paterno</th>
							<th>Apellido Materno</th>
							<th>Telefono</th>
							<th>Celular</th>
							<th>Email</th>
							<th>Fecha de Grabación</th>
							<th>Estado</th>		
													
						</tr>
                     </thead>		
                     <tbody> 
                     </tbody>
	                 <tfoot>   
				  </tfoot>																													
				</table>	
			   </div>
			 </div>
           </div>	
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>  
</div>		