<div class="list-group">
<a href="#" class="list-group-item active" style="text-align:center;padding-bottom: 5px;padding-top: 5px;"><i class="fa fa-bell-o fa-lg "></i>
Notificaciones
</a>
</div>
<!-- <p>Find me in app/views/notificaciones/index.html.erb</p>-->
<%= render "notificaciones/notif_enviar"%>