<div id="footer" style="padding: 37px 0 5px;">
  <div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-3" style="text-align: -webkit-center;">
          <p>
          <%= image_tag("logo_01.png", alt:"logo_01", class:"img-responsive", :style =>"width:65%; margin-top: -22px;") %>
          </p>
        </div>
        <div class="col-xs-6 col-sm-3"style="text-align: -webkit-center;">
          <p>
          <%= image_tag("icfes.png", alt:"icfes", class:"img-responsive", :style =>"width:50%; margin-top: -12px;") %>
          </p>
        </div>
        <div class="col-xs-6 col-sm-3" style="text-align: -webkit-center;">
          <p>
          <%= image_tag("aprende.png", alt:"aprende", class:"img-responsive", :style =>"width:50%; margin-top: -15px;") %>
          </p>
        </div>
        <div class="col-xs-6 col-sm-3"style="text-align: -webkit-&#x2192;; margin-top: -12px;">
         <p style="margin-bottom: 0px; font-size:13px;" class="copyright"> Linea Local: (571) 4841460 </p>
         <p style="margin-bottom: 0px; font-size:13px;" class="copyright"> Linea Nacional Gratuita:<br> 018000 519535</p>
          <p style="font-size:13px;"class="copyright">Contactomaestro2025@icfes.gov.co</p>
        </div>
        </div>
      </div>
      
</div> 