<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width: 100%;text-align:center;">
  <!-- slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="video-container">
        <!--
        <iframe width="400px" height="300px" src="https://www.youtube.com/embed/efS_KSDqiAg" frameborder="0" allowfullscreen></iframe>
        -->
      </div>
    </div>
  </div>
</div>    