 <div class="col-md-6">
    <table cellspacing="0" cellpadding="0">
      <tr>
        <th>Id</th>
        <th>Tipo documento Evaluador</th>
        <th>Numero documento Evaluador</th>
        <th>Nombres Evaluador</th>
        <th>Apellidos Evaluador</th>
        <th>Tipo documento Profesor</th>
        <th>Numero documento Profesor</th>
        <th>DescripcionReporte</th>
        <th>Ver Video</th>
        <th>Acciones</th>
      </tr>
      <% 7.times do %>
      <tr>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        
        <td><button  type="button" class="btn btn-info">Video</button></td>  
        <td><select class="asignacio_1"><option>Acciones</option><option>Asignar</option><option>Ver</option><option>otra accion</option> </select></td>
      </tr>
      <% end %>
    </table>  
      </div>